---
const { title, description, link, image } = Astro.props;
---

<div class="project-card">
  <img src={image} alt={title} />
  <h3>{title}</h3>
  <p>{description}</p>
  <a href={link} target="_blank">Ver proyectos</a>
</div>
